<table mat-table [dataSource]="dataSource" [ngClass]="formatElevation()">

  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'vertical-separator': options.verticalSeparator}">
        {{options.capitalisedHeader ? (column | titlecase) : column}}
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'vertical-separator': options.verticalSeparator}">
        <div *ngIf="isFirst">
          <div class="value-cell">
            <div [innerHTML]="formatIndentation(element)"></div>
            <mat-icon style="color:#039be5 !important" [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}" (click)="onNodeClick(element)">              
              {{element.isExpanded ? 'remove_circle' : 'add_circle'}}
            </mat-icon>
            &nbsp;
            <mat-checkbox *ngIf="column === 'startDateTime'" [checked]="element.value['selected']"
            [indeterminate]="element.value['indeterminate'] && !element.value['selected']"
            [disabled]="element.value['isPrimaryKeyEvent']">
            </mat-checkbox>
            <div style="padding-left: 20px;">{{element.value[column]  | date:'shortDate' }}</div>
          </div>
        </div>
        <div *ngIf="!isFirst && column != 'startDateTime' && column != 'action'">
          {{(column == "recalculatedDate") ? (element.value[column] | date:'shortDate') : element.value[column] }}
        </div>
        <div *ngIf="column === 'action'">
          <mat-select [(ngModel)]=element.value[column] [disabled]="element.value[column] == 'I'">
            <mat-option value="I" [ngStyle]="{ display : element.value[column] != 'I' ? 'none' : 'block' }">New</mat-option>
            <mat-option value="U">Update</mat-option>
            <mat-option value="D" [ngStyle]="{ display : element.value['isPrimaryKeyEvent'] ? 'none' : 'block' }">Delete</mat-option>
          </mat-select>
        </div>
        <div *ngIf="!isFirst && column === 'startDateTime'">
          <mat-checkbox [checked]="element.value['selected']"
                      [indeterminate]="element.value['indeterminate'] && !element.value['selected']"
                      [disabled]="element.value['isPrimaryKeyEvent']">
                      </mat-checkbox>
          <span>{{element.value[column]  | date:'shortDate'}}</span>
        </div>
      </td>
    </ng-container>
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
